p {
  font-family: 'Crafty Girls', cursive;
  color: #e070cf;
  font-size: 20px;
  font-weight: 900;
}

.container {
  background-color: #ffffff;
  margin: auto;
  width: 75%;
}

body {
  background-color: #abf4e8
}

#refresh {
  cursor: pointer; 
}